@charset "UTF-8";



/* @FONT FACE (enable the use of 'custom fonts' inside your document) */

@font-face {
  font-family: "Synt Variable";
  src: url("../fonts/ABCSyntVariable-Regular.ttf") format("truetype-variations");
}

@font-face {
  font-family: "Alpina";
  src: url("../fonts/GT-Alpina-Standard-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "AlpinaBold";
  src: url("../fonts/GT-Alpina-Standard-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "AlpinaMedium";
  src: url("../fonts/GT-Alpina-Standard-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "AlpinaItalic";
  src: url("../fonts/GT-Alpina-Standard-Regular-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Synt";
  font-weight: normal;
  src: url("../fonts/ABCSynt-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Arial";
  font-weight: normal;
  src: url("../fonts/Arial.ttf") format("truetype");
}
@font-face {
  font-family: "Quadrant";
  font-weight: normal;
  src: url("../fonts/QuadrantText-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Kazimir";
  font-weight: normal;
  src: url("../fonts/KazimirRegular.otf") format("opentype");
}

@font-face {
  font-family: "Sometimes";
  font-weight: normal;
  src: url("../fonts/BLSometimesNeue-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Murrayfield";
  font-weight: normal;
  src: url("../fonts/Murrayfield-Regular.otf") format("opentype");
}

@font-face {
  font-family: "Rosart";
  font-weight: normal;
  src: url("../fonts/Rosart-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rosart-Bold";
  font-weight: normal;
  src: url("../fonts/Rosart-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Rosart-Italic";
  font-weight: normal;
  src: url("../fonts/Rosart-RegularItalic.ttf") format("truetype");
}


/* VARIABLES */

:root {
  /* Color settings */
  --color-background: #f8f8ff;
  --color-text: 000;
  --color-text-link: rgba(70,0,0,0.625);
  --color-text-link-hover: rgba(0,0,0,0.2);
  --color-theme-1: rgba(150,175,255,0.8);
  --color-theme-2: rgba(255,100,0,0.8);
  --color-theme-3: rgba(255,125,255,0.8);
  --color-theme-4: rgba(255,25,200,0.8);
  --color-theme-5: rgba(195,170,120,0.8);
  /* Font settings */
  --font-family: 'Alpina';
  --font-size: 22px;
  /* Margins settings */
  --margin: 0;
}



/* GENERAL STYLES */

html {
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  background-color: var(--color-background);
}

body {
  position:relative;
  background-color: var(--color-background);
  font: var(--font-size) var(--font-family);
  color: var(--color-text);
  width:100%;
  height:auto;
  overflow-y:auto;
}
.caption {
    width: 21vW;
    float: left;
    clear: left;
    margin-left: -50%;
    margin-top: -3.2vH;
    margin-bottom: 0;
    vertical-align: baseline;
    position: relative;
    font-family: "Alpina";
    font-size:0.5rem;
    text-align: justify;
    color: #ef2a30;
    hyphens: auto;
    line-height: 120%;
    width:21vW;
    right:0;
    padding: 2vW;
}

.term {
    color: #ef2a30;
    font-family: 'AlpinaBold';
}

.caption img {
    width: 21vW;
    margin-bottom:1vH;
}

.fullwidth {
    width: 192%;
transform: translate(-24%, 0);
margin-bottom: 0.5vH;
}

.mobile-footnotes{
    display: none;
}

.big_caption {
    font-size: 0.6rem;
    color: #ef2a30;
}

#menuToggle {
    display: block;
    position: fixed;
    bottom: 2vH;
    left: 1.5vW;
    width: 21vW;
    z-index: 10;
    -webkit-user-select: none;
    user-select: none;
}



#menuToggle input {
    display: block;
    width: 5vW;
    height: 4vW;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 20;
    -webkit-touch-callout: none;
}


#menuToggle span {
    display: block;
    width: 2.3vW;
    height: 0.3vW;
    margin-bottom: 0.3vW;
    position: relative;
    background: black;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menu span {
    background-color: transparent !important;
    width: 1vW;
    height: 1vW;
    display: inline;
}

#menuToggle span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


#menuToggle input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: black;
}


#menuToggle input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


#menu {
    position: absolute;
    top:0;
    width: 21vW;
    height: 100vH;
    margin: -95vH 0 0 -1.5vW;
    padding: 1.5vW;
    padding-top: 2vW;
    border-right: 2px solid black;
    overflow: visible;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    background-color: #f8f8ff;
}


/* #menu span {
    display: inline;
    color: #fff;
    background-color: #000;
    text-shadow: 0.5em 0 0 #000, -0.5em 0 0 #000;
    font-size: 1vW;
    font-weight: 900;
    width: 100%;
    line-height: 1.25vW;

} */

#menu li {
    z-index: 4;
    font-family: "AlpinaMedium";
    font-size:0.8rem;
    line-height: 120%;
    margin-bottom: 1.8vH;

}
#menuToggle a {
    font-family: "AlpinaMedium";
    font-variation-settings: "slnt" 0;
    transition: font-variation-settings 0.3s ease-in-out;
    text-decoration: none;
    color: black;
}

#menuToggle a:hover {
text-decoration: underline;
}


#menuToggle input:checked~ul {
    transform: none;
}

/* .toc {
    position: absolute;
    z-index: 3;
    width: 21vW;
    height:100vH;
    background-color: #f8f8ff;
} */

#menuToggle2 {
    display: block;
    position: fixed;
    bottom: 2vH;
    right: 1.5vW;
    width: 21vW;
    z-index: 10;
    -webkit-user-select: none;
    user-select: none;
}



#menuToggle2 input {
    display: block;
    width: 5vW;
    height: 4vW;
    position: absolute;
    top: -7px;
    right: -5px;
    cursor: pointer;
    opacity: 0;
    z-index: 20;
    -webkit-touch-callout: none;
}

.box {
    color: #009834;
    font-family: Arial;
    font-size: 0.75rem;
    cursor: help;
}


#menuToggle2 span {
    display: block;
    width: 2.3vW;
    height: 0.3vW;
    margin-bottom: 0.3vW;
    right: -18.5vW;
    position: relative;
    background: black;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
        opacity 0.55s ease;
}

#menu2 span {
    background-color: transparent !important;
    width: 1vW;
    height: 1vW;
    display: inline;
    right: initial;
}

#menuToggle2 span:first-child {
    transform-origin: 0% 0%;
}

#menuToggle2 span:nth-last-child(2) {
    transform-origin: 0% 100%;
}


#menuToggle2 input:checked~span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: black;
}


#menuToggle2 input:checked~span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle2 input:checked~span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
}


#menu2 {
    position: absolute;
    top:0;
    width: 21vW;
    height: 100vH;
    margin: -95vH 0 0 -1vW;
    padding: 1.5vW;
    padding-top: 0.5vW;
    border-left: 2px solid black;
    overflow: scroll;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    background-color: #f8f8ff;
}


/* #menu span {
    display: inline;
    color: #fff;
    background-color: #000;
    text-shadow: 0.5em 0 0 #000, -0.5em 0 0 #000;
    font-size: 1vW;
    font-weight: 900;
    width: 100%;
    line-height: 1.25vW;

} */

#menu2 li {
    z-index: 4;
    font-family: "Alpina";
    font-size:0.6rem;
    line-height: 120%;
    margin-bottom: 1.5vH;

}
#menuToggle2 a {
    font-family: "Alpina";
    font-variation-settings: "slnt" 0;
    transition: font-variation-settings 0.3s ease-in-out;
    text-decoration: none;
    color: black;
}

#menuToggle2 a:hover {
text-decoration: underline;
}


#menuToggle2 input:checked~ul {
    transform: none;
}

a:focus-visible {
  color: var(--color-text-link-hover);
  text-decoration: none;
}

.cover {
    width: 100vW;
    margin-top: 10vH;
}

.references {
    display: block;
    columns: 2;
    width: 96vW;
    /* height: 200vH; */
    position: relative;
    font-size: 0.6rem;
    padding: 2vW;
    margin-bottom: 5vH;
    border-top: 2px solid black;
}

.references p {
    font-size: 0.6rem;
    margin: 0;
    padding-left: 2rem ;
  text-indent: -2rem ;
}



.sidenote {
    font-family: "Alpina";
    font-size:0.5rem;
    text-align: justify;
    color: #009834;
    hyphens: auto;
    line-height: 120%;
    width:21vW;
    right:0;
    padding-left: 2vW;
    padding-right: 2vW;
    padding-top: 1.5vW;
    padding-bottom: 1vW;
}

a {
    text-decoration: none;
    color:#ef2a30;
}

h1{
  /* h1 style */
}

.chapter {
  /* h2 style */
  display:block;
  vertical-align: center;
  width:auto;
  text-align: left;
  width:auto;
  min-width: 50%;
  height:auto;
  font-weight: normal;
  border-radius:2rem;
  font-size:2rem;
  line-height: 110%;
  margin-top: 10vH;
  margin-bottom:5vH;

*/
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);

  -webkit-transition: transform 125ms ease-in-out 0ms;
  -moz-transition: transform 125ms ease-in-out 0ms;
  transition: transform 125ms ease-in-out 0ms;

}

h2:hover{

}



.sub{
    display:block;
    vertical-align: center;
    width:auto;
    text-align: left;
    width:auto;
    min-width: 50%;
    height:auto;
    font-weight: normal;
    border-radius:1rem;
    font-size:1.2rem;
    padding-top:1.5rem;
    margin-top: 5vH;
    margin-bottom:5vH;
    line-height: 1.5rem;
}

h4, h5, h6{
  /* h4-h5-h6 style */
}

p {
  /* paragraph style */
  font-size:0.8rem;
  line-height:125%;
  hyphens: auto
}
.credits {
    font-size: 0.6rem;
    text-align: right;
}

ol, ul{
  /* ordered list and unordered list styles */
}

.navigation {
    width: 100vW;
    height: 60vH;
}

.abs-container {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.abstract {

    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align:justify;
    padding-left:25%;
    padding-right:25%;
    box-sizing: content-box;
    padding-bottom: 4vH;
}

.noteson {
    font-size: 0.6rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align:center;
    padding-left:25%;
    padding-right:25%;
    box-sizing: content-box;
    padding-bottom: 10vH;

}

.noteson span {
    font-family: 'AlpinaBold';
}

.quote {
 font-family: 'AlpinaItalic';
 background-color: #009834;
}

.author {
    font-family: 'AlpinaBold';
}

.highlight {
    font-family: 'AlpinaItalic';
}

.highlight:hover {
font-variation-settings: "slnt" -32;
}

.toponym {

     font-family: 'Arial';
     font-size: 0.78rem;
     color: #009834;
}

.red {
    color: #ef2a30;
}

.white {
    color: #f8f8ff;
}

.green {
    color: #009834;
}

.footnotes {
    width:21vW;
    position: absolute;
    right:0;
    padding: 2vW;
}

.footnotes p {
    font-size:0.6rem;
    text-align: justify;
    color: #009834;
    hyphens: auto
}

.first {
    top:580vH;
}

.second {
    top:692vH;
}

.third {
    top: 737vH;
}
.figures {
    width:21vW;

}

.figures img {
    width: 100%;
}

.figures span {
    font-size:0.6rem;
    text-align: justify;
    color: #ef2a30;
    hyphens: auto
}

.collapsible {
    display: none;
}

hr{
  /* horizontal rule style */
  border:none;
  border-bottom:0.25rem dotted var(--color-text);
}



/* PAGE STYLES */

/* page structure */

div.page-wrapper {
  /* the element that 'wraps' everything */
  padding: var(--margin);
}

/* navigation */

header{
  text-align: center;
  top:0;
  transition: top 0.2s ease-in-out;
   position: absolute;
   width:100%;
   z-index: 1;

}

header h1{
  display:block;
  font-size:12vw;
  line-height:100%;
  font-weight:normal;
  width:100%;
  padding:0;
  margin-top: 3vH;
  background-color: transparent;
  box-sizing:border-box;
  font-family: 'Synt Variable';
  font-variation-settings: "slnt" -32;
}



header p{
  color:var(--color-text-link);
  font-size:2rem;
  margin:0;padding:0;
  margin-top:0.5rem;
  margin-bottom:0.5rem;
}

header p strong{
  font-weight:normal;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  border-radius: 0.5rem;
  color: var(--color-text-link);
  border-bottom: 0.25rem solid var(--color-text-link);
  box-sizing: border-box;
}
/*
nav{
  margin-top: 2vH;
  display: inline;
}

nav ol, nav ul{
  font-size:1.5rem;
  letter-spacing: 0rem;
  padding-left:0;
}

nav ol li, nav ul li{
  list-style-type: none;
  margin:0;padding:0;
}

nav ol li a, nav ul li a{
  color:black;
  letter-spacing: -0.125rem;
  padding-left:0;
  -webkit-transition: letter-spacing 100ms ease-in-out 0ms, padding 100ms ease-in-out 0ms;
  -moz-transition: letter-spacing 100ms ease-in-out 0ms, padding 100ms ease-in-out 0ms;
  transition: letter-spacing 100ms ease-in-out 0ms, padding 100ms ease-in-out 0ms;
}

nav ol li a:hover, nav ul li a:hover{
  color: #ef2a30;
  padding-left:0.75rem;
}

nav ol li a:hover, nav ul li a:hover{
  color: #ef2a30;
  padding-left:0.75rem;
} */

/* content */

main{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align:justify;
  padding-left:25%;
  padding-right:25%;
  box-sizing: content-box;
}

details{
  border: 2px solid var(--color-text-link-hover);
  padding: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

summary{
  cursor: pointer;
  text-decoration: underline;
}

figure img{
  cursor: zoom-in;
  -webkit-transition: all 250ms ease-in-out 0ms;
  -moz-transition: all 250ms ease-in-out 0ms;
  transition: all 250ms ease-in-out 0ms;
  filter: grayscale(20%) brightness(40%) saturate(200%) hue-rotate(-90deg) contrast(200%);
}

figure img:hover{
  filter: grayscale(0%) brightness(100%) saturate(150%) hue-rotate(20deg) contrast(110%);
}

figcaption p{
  margin-bottom: 0;
  text-align: center;
}

footer{
    height: 6vH;
    width: 75vW;
  position: fixed;
  bottom: 0;
  right: 20vW;
  z-index: 30;

}

select {
    font-size: 0.7rem;
    border: none;
    box-shadow: none;
    position: absolute;
    right: 2vW;
    bottom: 3vH;
    background-color: #f8f8ff;
}


select:focus {
    outline:none;
}

.description {
    position: absolute;
    left: 1vW;
    bottom: 0vH;
    font-size: 0.7rem;
    background-color: #f8f8ff;

}


/* GENERAL USABILITY */

/* hide desktop mobile etc */
.bold {
    font-size: 1.5rem;
    font-family: 'AlpinaMedium';
}
.desktop {
  display: block;
}

.ondesktop {
    display: block;
}

.onmobile {
    display: none;
}

.mobile {
  display: none;
}

/* if you want to hide something visually but want to keep it readable / accessible for screen readers (sr) */

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}






/* MEDIA QUERIES */

/* responsive typeface */

@media (max-width: 298px) {
  :root{ --font-size: 15px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 299px) and (max-width: 339px) {
  :root{ --font-size: 16px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 340px) and (max-width: 439px) {
  :root{ --font-size: 17px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 440px) and (max-width: 599px) {
  :root{ --font-size: 18px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 600px) and (max-width: 779px) {
  :root{ --font-size: 19px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 780px) and (max-width: 992px) {
  :root{ --font-size: 20px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 993px) and (max-width: 1200px) {
  :root{ --font-size: 22px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1201px) and (max-width: 1319px) {
  :root{ --font-size: 24px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1320px) and (max-width: 1619px) {
  :root{ --font-size: 26px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1620px) and (max-width: 1879px) {
  :root{ --font-size: 28px; } html, body {font: var(--font-size) var(--font-family);}
}
@media (min-width: 1880px) {
  :root{ --font-size: 30px; } html, body {font: var(--font-size) var(--font-family);}
}



/* website media queries */

@media (max-width: 779px) {

  /* style this one first and then use the two others to 'override' some styles (exceptions/details) */
body, html {
    width: 100vW;
}

.caption {
    width: 90vW;
    float: left;
    clear: left;
    margin-left: 0;
    margin-top: 1vH;
    margin-bottom: 1vH;
    vertical-align: baseline;
    position: relative;
    font-family: "Alpina";
    font-size:0.8rem;
    text-align: left;
    color: #ef2a30;
    hyphens: auto;
    line-height: 120%;
    right:0;
    padding: 2vW;
}

.term {
    color: #ef2a30;
    font-family: 'AlpinaBold';
}

.caption img {
    width: 100%;
    margin-bottom:1vH;
}

  .sidenote {
    display: none;
  }

  .fullwidth {
      width: 100%;
  transform: translate(0, 0);
  margin-bottom: 0.5vH;
  }

  .ondesktop {
      display: none;
  }

  .onmobile {
      display: block;
  }

  .line {
      border-top: 2px solid black;
      width:100vW;
  }

  .mobile-footnotes {
      display: block;
      padding-left: 10vW;
      padding-right: 10vW;
      padding-top: 2vH;
      padding-bottom: 1vW;
      max-height: 0;
      transition: max-height 0.4s ease-in-out;
      overflow: hidden;
  }



  .mobile-footnotes p {
      font-family: "Alpina";
      font-size:0.8rem;
      text-align: left;
      color: #009834;
      hyphens: auto;
      line-height: 120%;

  }

  #footnotes-m {

  }

  .collapsible {
      display: block;
      position: relative;
      left: 5vW;
      top: 1vH;
      font-family: "Alpina";
      font-size:1.5rem;
      color: black;
      background-color: transparent;
      text-decoration: none;
      border: none;
      outline: none;
  }

  .box {
      color: #009834;
      font-family: Arial;
      font-size: 0.95rem;
      cursor: help;
  }

  .tooltip {
  	font-size: 0.95rem;
  	line-height: 1rem;
  }

  #menu {
      width: 70vW !important;
      margin: -1vH 0 0 -2.5vW;
      padding: 5vW;
      padding-top: 15vW;
  }

  #menu2 {
      width: 70vW !important;
      margin: -1vH 0 0 -61vW;
      padding: 5vW;
      padding-top: 15vW;
  }

  #menuToggle, #menuToggle2 {
      width: 15vW !important;
      height: 15vW;
  }

  #menuToggle2 {
      top: 1vH;
      right: 2vW;
  }

  #menuToggle {
      top: 1vW;
      left: 2vW;
  }

  #menuToggle span, #menuToggle2 span {
      width: 8vW;
      height: 0.3vH;
      margin-bottom: 0.7vH;
  }

  #menuToggle2 span {
      right: -6vW;
      top:0.5vH;
  }

  #menuToggle span {
      left: 1vW;
      top:1vH;
  }

  #menu li {
      z-index: 4;
      font-family: "AlpinaMedium";
      font-size:1.2rem;
      line-height: 120%;
      margin-bottom: 1.8vH;

  }

  #menu2 li {
      font-size: 0.8rem;
  }
  #menuToggle a {
      font-family: "AlpinaMedium";
      font-variation-settings: "slnt" 0;
      transition: font-variation-settings 0.3s ease-in-out;
      text-decoration: none;
      color: black;
  }

  #menuToggle input, #menuToggle2 input  {
      display: block;
      width: 5vH;
      height: 5.5vH;
      position: absolute;
      cursor: pointer;
      opacity: 0;
      z-index: 20;
      -webkit-touch-callout: none;
  }

  #menuToggle2 input {
      top: 0;
      right: 0;

  }

  footer {
      width: 84vW;
      right: 8vW;
  }

  footer p {
      text-align: center;
  }

  .references {
      display: block;
      columns: 1;

  }

  .abstract {
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      font-size: 0.8rem;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      text-align:left;
      padding-left:3%;
      padding-right:3%;
      box-sizing: content-box;
      padding-bottom: 2vH;
  }

  .green {
      top: 0 !important;
      left: 0 !important;
  }

  .red {
      top: 0 !important;
      left: 0 !important;
  }

  .term {
      left:0 !important;
      top: 0 !important;
  }

  .chapter {
      margin-top: 7vH;
      margin-bottom: 3vH;
  }

  .sub {
      margin-top: 3vH;
      margin-bottom: 3vH;
      font-size:1.5rem;

  }

  header{
    text-align: center;
    top:0;
    transition: top 0.2s ease-in-out;
     position: fixed;
     width:100%;
     z-index: 1;
     height:5.5vH;
     background-color: #f8f8ff;
     border-bottom: 2px solid black;

  }

  header h1{
    display:block;
    font-size:9vw;
    line-height:100%;
    font-weight:normal;
    width:100%;
    padding:0;
    margin-top: 1vH;
    background-color: transparent;
    box-sizing:border-box;
    font-family: 'Synt Variable';
    font-variation-settings: "slnt" -32;
  }

  h2{
    /* h2 style */
    width:85vW;
    height:25vw;
    font-size:1.5rem;
    text-align: center;
  }

  p{
    font-size: 1rem;
    text-align: left;
  }

  header p{
    font-size:1.5rem;
  }

  nav ol, nav ul{
    font-size:2rem;
  }

  nav ol li a, nav ul li a{
    letter-spacing: -0.0625rem;
  }

  main{
    padding-left:3%;
    padding-right:3%;
  }






  /* utilities */

  .desktop{display:none!important;}
  .mobile{display:block;}

}



@media (max-width: 339px) {

  /* use this query to apply style changes to smaller smartphones sizes (like an iPhone 5S or SE 2016), max size of 339px */

}



@media (max-width: 779px) and (orientation: landscape) {

  /* use this query to apply style changes for 'mobile' screen sizes that are flipped in 'landscape' mode */

}



@media (min-width: 780px) and (max-width: 992px) {

  /* use this query to apply style for 'small' desktop screens */

}
